[Unit]
Description=Capture packets sent from the ground station to lightsail; save locally and forward to IMPISH
After=network-online.target

[Service]
User=impish
EnvironmentFile=/data/config/lightsail.env
ExecStart=udpcapture --port $PACKETS_FROM_GS_PORT \
    --base-filename '/data/packets/commands' \
    --file-lifetime 10 \
    --forward-addrs ${GROUNDSTATION_IP}:${PACKETS_TO_IMPISH_PORT} \
    --post-process-cmd 'bzip2 $out_file'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
