[Unit]
Description=Receive Linux commands on a socket, execute them, format and send off stdout/stderr/retcode.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
WorkingDirectory=/usr/local/bin
EnvironmentFile=/data/config/variables.env
ExecStart=command_executor
StandardOutput=inherit
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
