[Unit]
Description=Handle command routing with some conditional logic.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
WorkingDirectory=/usr/local/bin
EnvironmentFile=/data/config/variables.env
ExecStart=command_router -p ${COMMAND_ROUTER_PORT} -e ${HEADER_STAMPER_PORT} -x ${COMMAND_EXECUTOR_PORT}
StandardOutput=inherit
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
