[Unit]
Description=Save/forward quicklook packets
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
ExecStart=start_quicklook_udpcapture
StandardOutput=inherit
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
