[Unit]
Description=Receive raw science packets and forward them elsewhere
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
ExecStart=start_science_redirector
StandardOutput=inherit
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
