[Unit]
Description=Persistent SSH VPN
After=network-online.target
Requires=ssh-vpn-configure.service

[Service]
User=root
EnvironmentFile=/data/config/gs-ip.env
ExecStart=/usr/bin/ssh -w 0:0 $GROUNDSTATION_IP \
    -o ServerAliveInterval=10 \
    -o ServerAliveCountMax=3 \
    -o TCPKeepAlive=yes \
    -i /home/impish/.ssh/reverse_ssh
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
