[Unit]
Description=Send health packets to a port (udpcapture, probably)
After=network.target

[Service]
Type=simple
ExecStart="/usr/local/bin/health_monitor"
StandardOutput=inherit
StandardError=journal
Restart=on-failure
User=impish

[Install]
WantedBy=multi-user.target
