[Unit]
Description=Sample the temperature and forward them to udpcapture.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
EnvironmentFile=/data/config/variables.env
ExecStart=temperature_monitor
StandardOutput=inherit
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
