[Unit]
Description=Attempt to configure end0 via DHCP and static assignment until one works, once per reboot
# Wait until the network stack has started, but don't wait to be online.
# We will try to get online in this service.
After=network.target

[Service]
Type=oneshot
ExecStart=use_dhcp_or_static
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=no
User=impish

[Install]
WantedBy=multi-user.target

