[Unit]
Description=Relay all packets from IMPISH to the ground station.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
EnvironmentFile=/home/relay/fwd.env
EnvironmentFile=/usr/local/bin/variables.env
ExecStart=impish_relay --port ${RELAY_PORT} --fwd-addr ${GROUND_STATION_IP}:${GROUND_STATION_PORT} --delay 30
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=relay

[Install]
WantedBy=multi-user.target
