[Unit]
Description=Download the Grafana dashboard JSON files for backup
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=download_dashboards
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
