[Unit]
Description=Download the Grafana dashboard JSON files for backup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
WorkingDirectory=/home/impish/
EnvironmentFile=/usr/local/bin/grafana.env
ExecStart=download_dashboards
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=impish

[Install]
WantedBy=multi-user.target
